<% provide :title, t("contact_title") %>
<div class="contact">
  <h2>
    <%= t "contact_info" %>
  </h2>
  <br>
  <p>
    <span class="title">
      <i class="fas fa-map-marker"></i>
      <%= t "address" %> :
      <%= t "address_f" %>
    </span>
  </p>
  <p>
    <span class="title">
      <i class="fas fa-envelope-open"></i>
      <%= t "email" %> :
      <%= t"email_f" %>
    </span>
  </p>
  <p>
    <span class="title">
      <i class="fas fa-phone-volume"></i>
      <%= t "phone" %> :
      <%= t"phone_f" %>
    </span>
  </p>
</div>
