<%= form_for [:admin, @manufacturer] do |f| %>
  <div class="box-body">
    <%= render "admin/shared/error_messages", object: @manufacturer %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="box-footer">
    <%= f.submit t("submit"), class: "btn btn-primary" %>
  </div>
<% end %>
