<%= form_for [:admin, @account] do |f| %>
  <div class="box-body">
    <%= render "admin/shared/error_messages", object: @account %>
    <div class="form-group">
      <%= f.label :fullname %>
      <%= f.text_field :fullname, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phome %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
       <%= f.label :password %>
       <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :account_type %>
      <%= f.select :account_type, Account.account_types.keys, {}, class: "form-control" %>
    </div>
  </div>
  <div class="box-footer">
    <%= f.submit t("submit"), class: "btn btn-primary" %>
  </div>
<% end %>
