<%= provide :title, t("admin_order") %>
<% provide :db, t("order") %>
<% provide :action, t("list") %>
<div class="box-body">
  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "account_id" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "phone" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "address" %>
              </th>
              <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "status" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "total" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "created_at" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "action" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |od| %>
              <tr role="row" class="odd">
                <td class="sorting_1"><%= od.account_fullname %></td>
                <td><%= od.phone %></td>
                <td><%= od.address %></td>
                <td><%= od.status %></td>
                <td><%= od.total %></td>
                <td><%= od.created_at %></td>
                <td>
                  <%= link_to t("Show"), admin_order_url(od.id) %>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
