<%= provide :title, t("admin_order") %>
<% provide :db, t("order") %>
<% provide :action, t("list") %>
<div class="box-body">
  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-9 col-md-offset-3" id="div-search">
            <%= search_form_for [:admin, @q] do |f| %>
              <div class="field">
                <div class="col-md-10">
                  <div class="col-md-4">
                    <%= f.label :total_gteq, t("total_from"), class: "input_total" %>
                    <%= f.number_field :total_gteq, class: "input_total" %>
                  </div>
                  <div class="col-md-4">
                    <%= f.label :total_lteq, t("total_to"), class: "input_total" %>
                    <%= f.number_field :total_lteq, class: "input_total" %>
                  </div>
                  <div class="col-md-4">
                    <%= f.label :total_lteq, t("search_order"), class: "input_total" %>
                    <%= f.search_field :account_fullname_or_phone_or_address_cont,
                      id: "input_search" %>
                  </div>
                </div>
              </div>
              <div class="actions">
                <div class="col-md-2">
                  <%= f.submit t("search"), id: "search_admin1" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "account" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "phone" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "address" %>
              </th>
              <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "status" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "total" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "created_at" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "action" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |od| %>
              <tr role="row" class="odd">
                <td class="sorting_1"><%= od.account_fullname %></td>
                <td><%= od.phone %></td>
                <td><%= od.address %></td>
                <td>
                  <%= od.status == Settings.size.status_number ? t("delivered") : t("no_transaction") %>
                </td>
                <td><%= od.total %></td>
                <td><%= od.created_at.to_date %></td>
                <td>
                  <%= link_to t("Show"), admin_order_url(od.id) %>
                  <% unless od.status == Settings.size.status_number %>
                    | <%= link_to t("delivery"), admin_order_url(od.id), method: :patch %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="paginate_page">
          <%= paginate @orders %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box-footer">
  <%= link_to t("statistic"), admin_statistic_url %>
</div>
