<% provide :title, t("admin_order") %>
<% provide :db, t("order") %>
<% provide :action, t("show") %>
<div class="box-body">
  <div class="row" id="order_detail">
    <div class="col-md-6">
      <p>
        <%= t "status" %> :
        <%= @order.status %>
      </p>
      <p>
        <%= t "total" %> :
        <%= @order.total %>
      </p>
      <p>
        <%= t "created_at" %> :
        <%= @order.created_at %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <%= t "account_id" %> :
        <%= @order.account_fullname %>
      </p>
      <p>
        <%= t "phone" %> :
        <%= @order.phone %>
      </p>
      <p>
        <%= t "address" %> :
        <%= @order.address %>
      </p>
    </div>
  </div>
</div>
<div>
<div class="box-body">
  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "product_id" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "product_name" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "image" %>
              </th>
              <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "price" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "quantity" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "total_price" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |ord| %>
              <tr role="row" class="odd">
                <td class="sorting_1">
                  <%= ord.product_id %>
                </td>
                <td>
                  <%= ord.product_name %>
                </td>
                <td>
                  <%= image_tag ord.images.first.image_link.url, class: "image_product1" %>
                </td>
                <td>
                 <%= ord.product_price %>
                </td>
                <td>
                  <%= ord.quantity %>
                </td>
                <td>
                  <%= ord.total_price %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box-footer">
  <%= link_to t("list"), admin_orders_url %>
</div>
