<% provide :title, t("admin_order") %>
<% provide :db, t("order") %>
<% provide :action, t("show") %>
<div>
  <dl class="dl-horizontal">
    <dt><%= t "status" %></dt>
    <dd>user</dd>
    <dt><%= t "phone" %></dt>
    <dd>user</dd>
    <dt> <%= t "address" %></dt>
    <dd>user</dd>
    <dt><%= t "total" %></dt>
    <dd>user</dd>
    <dt><%= t "account_id" %></dt>
    <dd>user</dd>
  </dl>
</div>
<br><br>
<div class="box-footer">
  <%= link_to t("edit"), "#" %> |
  <%= link_to t("list"), "#" %>
</div>
