<% provide :title, t("product") %>
<div class="mini-cart js-mini-cart">
  <div class="mini-cart-body js-cart--container">
    <div class="cart">
      <div class="cart-header">
        <a class="cart-title" href="gio-hang">
          <span class="cart-subtitle"><%= t "my_cart" %></span>
          <span class="bracket">(</span>
          <span class="js-cart-total-unit"><%= t "quantity" %></span>
          <span><%= t "product" %></span>
          <span class="bracket">)</span>
        </a>
      </div>
      <div class="js-cart-items--container cart-body">
        <div class="js-cart-session-timeout"></div>
        <div class="cart-products">
          <div class="cart-products__header">
            <div class="cart-product__item"><%= t "product" %></div>
            <div class="cart-product__price"><%= t "unit_price" %></div>
            <div class="cart-product__quantity"><%= t "quantity" %></div>
            <div class="cart-product__subtotal"><%= t "amount" %></div>
          </div>
          <div class="cart-products__body">
            <% @products.each do |product| %>
              <div class="cart-product entry-item-1">
                <div class="cart-product__item__thumbnail">
                  <%= image_tag product.images.first.image_link.url, class: "image_home" %>
                </div>
                <div class="cart-product__item__info">
                  <h3 class="cart-product__item__title">
                    <%= product.name %>
                  </h3>
                  <div class="clearfix"></div>
                  <div>
                  <%= link_to t("Delete"), order_detail_path(product.id), method: :delete %>
                  </div>
                </div>
                <div class="cart-product__price">
                  <div class="cart-product__price-sale">
                    <%= product.price %>
                    <%= Settings.curr_unit.price %>
                  </div>
                </div>
                <div class="cart-product__quantity">
                  <div class="item__quantity">
                   <%= session[:cart][product.id.to_s] %>
                  </div>
                </div>
                <div class="cart-product__subtotal">
                  <div class="item__total js-item-total hidden-xs">
                    <%= session[:cart][product.id.to_s] * product.price %>
                    <%= Settings.curr_unit.price %>
                  </div>
                </div>
                <div class="js-item-warnings">
                </div>
              </div>
            <% end %>
          </div>
          <hr id="line_pay">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sx-6">
            <%= paginate @products %>
            </div>
            <div class="col-lg-6 col-md-6 col-sx-6 text-right">
              <strong><br><%= t "total_price" %>
                <%= @total %>
                <%= Settings.curr_unit.price %>
              </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="js-cart-total--container">
        <div class="cart-footer">
          <div class="cart-footer__row">
            <div class="cart-total">
              <div class="cart-total__item">
                <div class="cart-total__item-value text-red cart-total__bill">
                </div>
              </div>
            </div>
            <div class="cart-note">
            </div>
          </div>
          <div class="cart-footer__row">
            <div class="cart-back">
              <%= link_to t("continue"), root_path %>
            </div>
            <div class="cart-submit">
              <%= link_to "Pay", pay_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
