<% provide :title, ("admin_category") %>
<% provide :db, t("category") %>
<% provide :action, t("list") %>
<div class="box-body">
  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "name" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "action" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |c| %>
              <tr role="row" class="odd">
                <td class="sorting_1"><%= c.name %></td>
                <td>
                  <%= link_to t("edit"), edit_admin_category_url(c.id) %> |
                  <%= link_to t("Show"), admin_category_url(c.id) %> |
                  <%= link_to t("Delete"), admin_category_url(c.id), method: :delete,
                    data: {confirm: t("you_sure")} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box-footer">
  <%= link_to t("create"), new_admin_category_url %>
</div>
