<%= form_for [:admin, @product], multipart: true do |f| %>
  <div class="box-body">
    <%= render "admin/shared/error_messages", object: @product %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, min: Settings.size.min_quantity, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, min: Settings.size.min_price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :hot %>
      <%= f.number_field :hot, min: Settings.size.min_hot, max: Settings.size.max_hot, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.select :category_id, @categories.collect {|c| [c.name, c.id]},
        {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :manufacturer_id %>
      <%= f.select :manufacturer_id, @manufacturers.collect {|pr| [pr.name, pr.id]},
        {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.fields_for :images do |p| %>
        <div class="field">
          <%= p.label :image_link %><br>
          <%= p.file_field :image_link, multiple: true, name: "images[image_link][]", class: "upload-image",
            accept: "image/jpeg,image/gif,image/png" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="box-footer">
    <%= f.submit t("submit"), class: "btn btn-primary", id: "upload_image" %>
  </div>
<% end %>
