<% provide :title, t("admin_product") %>
<% provide :db, t("product") %>
<% provide :action, t("list") %>
<div class="box-body">
  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "name" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "quantity" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "price" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "description" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "hot" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "category_id" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "manufacturer_id" %>
              </th>
              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">
                <%= t "action" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |pr| %>
              <tr role="row" class="odd">
                <td class="sorting_1"><%= pr.name %></td>
                <td><%= pr.quantity %></td>
                <td><%= pr.price %></td>
                <td><%= pr.description %></td>
                <td><%= pr.hot %></td>
                <td><%= pr.category_id %></td>
                <td><%= pr.manufacturer_id %></td>
                <td>
                  <%= link_to t("edit"), edit_admin_product_url(pr.id) %> |
                  <%= link_to t("Show"), admin_product_url(pr.id) %> |
                  <%= link_to t("Delete"), admin_product_url(pr.id), method: :delete,
                    data: {confirm: t("you_sure")} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box-footer">
  <%= link_to t("create"), new_admin_product_url %>
</div>
<div class="box-footer">
  <h4><%= t "import_file" %></h4>
  <%= form_tag import_admin_products_path, multipart: true do %>
    <%= file_field_tag :file, class: "form-control", accept: ".xlsx, .xls, .csv" %>
    <br>
    <%= submit_tag t("import"), class: "btn btn-primary" %>
  <% end %>
</div>
