<% provide :title, t("product") %>
<div class="mini-cart js-mini-cart">
  <div class="mini-cart-body js-cart--container">
    <div class="cart">
      <div class="cart-header">
        <a class="cart-title" href="gio-hang">
          <span class="cart-subtitle"><%= t "my_card" %></span>
          <span class="bracket">(</span>
          <span class="js-cart-total-unit"><%= t "quantity" %></span>
          <span><%= t "product" %></span>
          <span class="bracket">)</span>
        </a>
      </div>
      <div class="js-cart-items--container cart-body">
        <div class="js-cart-session-timeout"></div>
        <div class="cart-products">
          <div class="cart-products__header">
            <div class="cart-product__item"><%= t "product" %></div>
            <div class="cart-product__price"><%= t "unit_price" %></div>
            <div class="cart-product__quantity"><%= t "quantity" %></div>
            <div class="cart-product__subtotal"><%= t "amount" %></div>
          </div>
          <div class="cart-products__body" style="max-height: 280px; margin: 15px 0px; padding: 0px 15px 0px 5px; overflow-y: hidden; outline: none;"
            tabindex="0">
            <div class="cart-product  entry-item-1">
              <div class="cart-product__item__thumbnail">
                <%= t "add_to_card", class: "style_image_card" %>
              </div>
              <div class="cart-product__item__info">
                <h3 class="cart-product__item__title">
                  <a data-product="1342017" href="chi-tiet-san-pham/1"><%= t "iphone" %></a>
                </h3>
                <div class="clearfix"></div>
                <div>
                </div>
                <a class="cart-product__item__remove" href="gio-hang/bo-san-pham/027c91341fd5cf4d2579b49c4b6a90da">
                  <i class="adr-icon icon-trash"></i><%= t "delete" %></a>
              </div>
              <div class="cart-product__price">
                <div class="cart-product__price-sale">
                  <%= Settings.size.length_name_description %>
                  <%= Settings.curr_unit.price %>
                </div>
              </div>
              <div class="cart-product__quantity">
                <div class="item__quantity">
                  <input type="text" value="1">
                </div>
              </div>
              <div class="cart-product__subtotal">
                <div class="item__total js-item-total hidden-xs">
                  <%= Settings.size.length_name_description %>
                  <%= Settings.curr_unit.price %>
                </div>
              </div>
              <div class="js-item-warnings" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="js-cart-total--container">
        <div class="cart-footer">
          <div class="cart-footer__row">
            <div class="cart-total">
              <div class="cart-total__item">
                <div class="cart-total__item-label"><%= t "amount" %></div>
                <div class="cart-total__item-value text-red cart-total__bill">
                  <%= Settings.size.length_name_description %>
                  <%= Settings.curr_unit.price %>
                </div>
              </div>
            </div>
            <div class="cart-note">
            </div>
          </div>
          <div class="cart-footer__row">
            <div class="cart-back">
              <%= link_to t("continue"), root_path %>
            </div>
            <div class="cart-submit">
              <a href="thanh-toan" class="btn btn-primary js-cart-checkout-button ">
                <%= t "pay" %>
                <img class="visible-xs-inline visible-sm-inline" src="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
