<% provide :title, t("product") %>
<div class="product-list__container">
  <div class="row">
    <% @products.each do |pro|%>
    <div class="col-xs-6 col-sm-4 col-lg-3 product-item__wrapper product-item__wrapper--hover">
      <div class="product-item__placeholder hidden-sm hidden-xs"></div>
      <div class="product-item">
          <div class="product-item__container">
            <a class="product-item__thumbnail">
              <div style="width:200px;height:200px">
                <%= pro.name %>
              </div>
            </a>
            <div class="text-center">
              <%= pro.name %>
            </div>
            <div class="product-item__info text-center">
              <div class="product-item__info-price">
                <span class="product-item__info-price-sale" style="padding-left:20px">
                  <%= pro.price %>
                  <%= Settings.curr_unit.price %></span>
              </div>
              <button type="submit" class="btn btn-block btn-primary btnAddToCart">
                <%= t "add_to_card" %>
              </button>
            </div>
          </div>
      </div>
    </div>
    <div id="addToCartTitle" class="display-none">
      <div class="add-to-cart-header">
        <div class="headline">
          <span class="headline-text">
            <%= t "shopping_card" %></span>
        </div>
      </div>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
   <div class="text-right">
    <%= paginate @products %>
   </div>
</div>
