<div class="content">
  <div class="slogan-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="slogan">
            <div class="thumb">
              <img src="img/3.png" alt="" />
            </div>
            <!-- end .media-left -->
            <div class="text">
              <div class="title">
                <%= t "top1" %>
              </div>
              <div class="subtitle">
                <%= t "electrolux" %>
              </div>
            </div>
            <!-- end .media-body -->
          </div>
        </div>
        <!-- end .slogan -->
        <div class="col-xs-12 col-md-4">
          <div class="slogan">
            <div class="thumb">
              <img src="img/2.png" alt="" />
            </div>
            <!-- end .media-left -->
            <div class="text">
              <div class="title">
                <%= t "ship_speed" %>
              </div>
              <div class="subtitle">
                <%= t "speed" %>
              </div>
            </div>
            <!-- end .media-body -->
          </div>
        </div>
        <!-- end .slogan -->
        <div class="col-xs-12 col-md-4">
          <div class="slogan">
            <div class="thumb">
              <img src="img/1.png" alt="" />
            </div>
            <!-- end .media-left -->
            <div class="text">
              <div class="title">
                <%= t "ship_speed" %>
              </div>
              <div class="subtitle">
                <%= t "ship_speed" %>
              </div>
            </div>
            <!-- end .media-body -->
          </div>
        </div>
        <!-- end .slogan -->
      </div>
    </div>
  </div>
</div>
