<div class="content">
  <div class="slogan-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="slogan">
            <div class="thumb">
              <%= image_tag "3.png" %>
            </div>
            <div class="text">
              <div class="title"><%= t "prestigious_reputation" %></div>
              <div class="subtitle"><%= t "phone_line" %></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="slogan">
            <div class="thumb">
              <%= image_tag  "2.png" %>
            </div>
            <div class="text">
              <div class="title"><%= t "super_speed_transport" %></div>
              <div class="subtitle"><%= t "fast_delivery_convenience" %></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="slogan">
            <div class="thumb">
              <%= image_tag  "1.png" %>
            </div>
            <div class="text">
              <div class="title"><%= t "variety_of_products" %></div>
              <div class="subtitle"><%= t "mobile_phones_of_all_kinds" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
