<footer>
  <div class="container">
    <div class="row">
      <div class="footer__top" id="footer-top">
        <div class="footer__nav-container">
          <div class="col-md-4" id="footer-ative">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "future_mobile_f" %>
            </div>
            <ul class="footer__nav-links">
              <li class="footer__link">
                <%= link_to t("introduce"), introduct_url %>
              </li>
            </ul>
            <div class="title link-section hidden-xs hidden-sm">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "contact" %>
            </div>
            <ul class="footer__nav-links">
              <li class="footer__link">
                <%= link_to t("contact_future_mobile"), contact_url %>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "account_f" %>
            </div>
            <ul class="footer__nav-links">
              <li class="footer__link">
                 <%= link_to t("login"), new_account_session_path %>
              </li>
              <li class="footer__link">
                <%= link_to t("register"),  new_account_registration_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
               <%= image_tag "chungchi.jpg", id: "image_certificate" %>
            </div>
            <div class="col-md-4">
              <h3> <%= t "contact_info" %></h3>
              <p>
                <span class="title">
                  <i class="fas fa-map-marker"></i>
                  <%= t "address" %> : <%= t "address_f" %>
                </span>
              </p>
              <p>
                <span class="title">
                  <i class="fas fa-envelope-open"></i>
                  <%= t "email" %> : <%= t"email_f" %>
                </span>
              </p>
              <p>
                <span class="title">
                  <i class="fas fa-phone-volume"></i>
                  <%= t "phone" %> : <%= t"phone_f" %>
                </span>
              </p>
            </div>
            <div class="col-md-2">
              <h3><%= t "member" %></h3>
              <h5><%= t "member1" %></h5>
              <h5><%= t "member2" %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
