<footer>
  <div class="container">
    <div class="row">
      <div class="footer__top">
        <div class="footer__nav-container" style="width:1224px">
          <div class="footer__nav-list col-md-3" style="width:300px;padding-left:20px">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "future_mobile" %></div>
            <ul class="footer__nav-links">
              <li class="footer__link">
                <a href="gioi-thieu.html" rel="nofollow"><%= t "introduce" %></a>
              </li>
              <li class="footer__link">
                <a href="gio-hang.html" rel="nofollow" target="_blank"><%=t "card" %></a>
              </li>
              <li class="footer__link">
                <a href="lien-he.html" rel="nofollow"><%= t "contact_with_us" %></a>
              </li>
            </ul>
            <div class="title link-section hidden-xs hidden-sm">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span>
            </div>
          </div>
          <div class="footer__nav-list col-md-3" style="width:300px;padding-left:20px">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "take_care" %>
            </div>
            <ul class="footer__nav-links">
              <li class="yCmsComponent footer__link">
                <a href="cau-hoi-thuong-gap.html" target="_blank" rel="nofollow"><%= t "question" %></a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-list col-md-3" style="width:300px;padding-left:20px">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "account" %>
            </div>
            <ul class="footer__nav-links">
              <li class="footer__link">
                 <%= link_to t("login"), "#" %>
              </li>
              <li class="footer__link">
                <%= link_to t("register"), "#" %>
              </li>
            </ul>
          </div>
          <!--Footer Social-->
          <div class="footer__nav-list footer__social--nav col-md-3" style="width:300px;padding-left:20px">
            <div class="title">
              <span class="nav-click">
                <i class="nav-arrow"></i>
              </span><%= t "connect" %></div>
            <div class="footer__nav-links clearfix hidden-xs hidden-sm">
              <div class="col-md-12 col-lg-6" style="padding:0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Footer Bottom-->
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3" style="text-align: center;">
              <img id="logo_thuonghieu" width="120px" height="120px" src="img/logo.jpg" alt="">
            </div>
            <div class="col-md-4" style="text-align: center;">
              <h3> <%= t "contact_info" %></h3>
              <p>
                <span class="tieude">
                  <i class="fas fa-map-marker"></i> <%= t "address" %>
                </span>
              </p>
              <p>
                <span class="tieude">
                  <i class="fas fa-envelope-open"></i> <%= t "email" %>
                  </span>
              </p>
              <p>
                <span class="tieude">
                  <i class="fas fa-phone-volume"></i> <%= t "phone" %>
                </span>
              </p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
      <!--#Footer Bottom-->
    </div>
  </div>
</footer>
