<header class="js-mainHeader animated">
  <nav class="navigation navigation--top">
    <div class="row header--segment">
      <div class="container">
        <div class="row">
          <div class="yCmsContentSlot col-xs-12 col-md-5 header--segment-left">
            <marquee>
              <%= t "welcome" %>
            </marquee>
          </div>
          <div class="yCmsContentSlot col-md-7 hidden-xs hidden-sm header--segment-right">
            <div class="header--segment-item pull-right pop-hover js-pop-hover">
              <a href="javascript:;" class="pop-hover-title" data-target="#" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false" class="pop-hover-title">
                <%= image_tag "4.png" %>
                <%= t "guest" %>
              </a>
              <div class="pop-hover-open">
                <ul>
                  <li class="hotline_group">
                    <%= image_tag "4.png" %>
                    <div class="hotline_group--right">
                      <div>Hotline</div>
                      <span class="highlight-color">
                        <%= t "guest" %></span>
                    </div>
                  </li>
                </ul>
                <ul>
                  <li> <%= t "guest" %></li>
                  <li> <%= t "guest" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navigation navigation--middle js-navigation--middle">
    <div class="container">
      <div class="row">
        <div class="visible-xs-inline-block hidden-sm-inline-block">
          <button class="mobile__nav__row--btn btn mobile__nav__row--btn-menu js-toggle-sm-navigation" type="button">
            <span class="adr-icon all-department visible-xs visible-sm"></span>
          </button>
        </div>
        <div class="visible-xs visible-sm banner__wrapper--logo">
          <div class="js-site-logo">
            <div class="yCmsComponent yComponentWrapper">
              <div class="yCmsContentSlot js-site-logo">
                <div class="banner__component banner banner__component--logo">
                  <a href="#">
                    <%= image_tag "logo.png" %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row desktop__nav">
        <div class="nav__left col-xs-12 col-sm-11 col-md-9">
          <div class="col-sm-3 hidden-xs hidden-sm">
            <div class="yCmsContentSlot js-site-logo">
              <div class="banner__component banner banner__component--logo">
                <a href="#">
                  <%= link_to image_tag("logo.png"), root_path %>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-9">
            <div class="site-search">
              <span class="adr-icon icon-search-complete visible-xs visible-sm"></span>
              <div class="ui-front">
                <%= form_tag search_path, method: "get" do %>
                  <div class="input-group" id="input-group1">
                    <div class="input-group-btn no-padding hidden-xs hidden-sm">
                      <div class="dropdown js-select-category">
                        <%= link_to root_url do %>
                          <span class="category-selected">
                            <%= t "future_mobile" %>
                          </span>
                         <% end %>
                      </div>
                    </div>
                       <%= text_field_tag :search, params[:search], class: "btn-input-search",
                         placeholder: t("search_product") %>
                    <span class="input-group-btn btn-find-group">
                       <%= submit_tag t("search"),:name => nil, class: "btn-search"%>
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="header__links__segment_mega_menu hidden-xs hidden-sm">
            </div>
          </div>
        </div>
        <div class="nav__right col-xs-6 col-sm-1 col-md-3 hidden-xs">
          <ul class="yCmsContentSlot nav__links">
            <li class="liOffcanvas header--user-group col-md-10 visible-md visible-lg">
              <div class="icon-user">
                <div class="icon-user--inner">
                  <%= image_tag "user.png" %>
                  <span class="js-user-gift-code user-group--gift hide"></span>
                </div>
              </div>
              <div class="js-user--info">
                <div class="user-group--info">
                  <div class="pop-hover js-pop-hover">
                  <% if account_signed_in? %>
                    <a onclick="myFunction1()" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false" class="pop-hover-title">
                      <span>
                        <%= current_account.fullname %>
                      </span>
                      <span class="adr-icon dropdownlist-header"></span>
                    </a>
                    <div class="dropdown-menu" id="dropmenu1">
                      <ul>
                        <li>
                          <%= link_to t("profile"), edit_account_registration_path(current_account) %>
                        </li>
                        <li>
                          <%= link_to t("logout"), destroy_account_session_path, method: :delete %>
                        </li>
                      </ul>
                    </div>
                  <% else %>
                    <a onclick="myFunction()" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false" class="pop-hover-title">
                      <span>
                        <%= t("login_register") %></span>
                      <span class="adr-icon dropdownlist-header"></span>
                    </a>
                    <div class="dropdown-menu" id="dropmenu">
                      <ul>
                        <li>
                          <%= link_to t("login"), new_account_session_path %>
                        </li>
                        <li><span>
                            <%= t "not_account" %></span></li>
                        <li>
                          <%= link_to t("new_account"), new_account_registration_path %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-2">
              <div class="nav-cart">
                <%= link_to image_tag("8.png"), card_path %>
                <a href="#" class="mini-cart-link js-mini-cart-link" data-mini-cart-url="#"
                  data-mini-cart-refresh-url="#" data-mini-cart-name="#"
                  data-mini-cart-empty-name="<%= t "empty_cart" %>" data-mini-cart-items-text="Items">
                  <div class="mini-cart-icon"><span class="adr-icon icon-cart hidden-xs hidden-sm"></span>
                    <span class="adr-icon icon-cart-mobile visible-xs visible-sm"></span>
                    <span class="mini-cart-price js-cart-total-unit">
                      <% if session[:cart].present? %>
                        <%= session[:cart].count %>
                      <% else %>
                        <%= t "zero" %>
                      <% end %>
                     </span>
                  </div>
                </a>
              </div>
              <div class="mini-cart-container js-mini-cart-container"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <a id="skiptonavigation"></a>
</header>
