<div class="category__section category__section-1">
  <div class="section__breadcrumb-inner">
    <div class="section__breadcrumb section__breadcrumb--full">
      <div class="container">
        <ul class="nav">
          <li><%= link_to t("home"), root_url %></li>
          <% @categories.each do |ct| %>
            <li>
              <%= link_to "#" do %>
                <%= ct.name %>
              <% end %>
              <ul class="sub-menu">
                <% select_category_parent(ct.id).each do |ct1| %>
                  <li>
                    <%= link_to ct1 do %>
                      <%= ct1.name %>
                   <% end %>
                  </li>
                <% end %>
               </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
