<!DOCTYPE html>
<html>
<head>
  <title>
    <%= yield :title %> | <%= t "future_mobile_system" %>
  </title>
  <%= render "layouts/rails_default" %>
</head>
<body class="page-vinregularcategorypage pageType-CategoryPage template-pages-category-vinCategoryPage  language-vi">
  <main id="page" data-currency-iso-code="VND">
    <a href="#skip-to-content" class="skiptocontent" data-role="none"></a>
    <button class="bg-overlay" type="button"></button>
    <%= render "layouts/header" %>
    <div id="content" class="clearfix">
      <a id="skip-to-content"></a>
      <div class="page-category">
        <%= render "layouts/menu" %>
        <div class="category__section category__section-5">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div id="sidebar-wrapper" class="js-product-facet">
                  <%= render "layouts/sidebar_hot" %>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-md-6 col-lg-8 product-list__wrapper">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                <%= yield %>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                <div id="sidebar-wrapper" class="js-product-facet">
                  <%= render "layouts/sidebar_new" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render "layouts/content2" %>
      <div id="vinfooter"></div>
      <%= render "layouts/footer"%>
  </main>
  <script type="text/javascript" src="js/vendors.min31bb.js?v=1525399962937"></script>
  <script src="js/jquery/dist/jquery.min.js"></script>
  </div>
</body>
</html>
